venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class

db.sqlite3
*.db

*/migrations/*.pyc
*/migrations/*.py~ 
*/migrations/__pycache__/

/staticfiles/
/media/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.env.local
.env.*.local

*.log

htmlcov/
.coverage
.tox/
.pytest_cache/

.DS_Store
Thumbs.db

*requirements.txt